<h1>Welcome to the Nested Forms Lab!</h1>
<h1><u>Pirate Form</u></h1>

<form action="/pirates" method="post">
   <br> Pirate Name: <input type="text" name="pirate[name]">
   <br>Weight: <input type="text" name="pirate[weight]">
   <br>Height: <input type="text" name="pirate[height]">
<h2>First ship
        <div>
          <label for="ship_name_1">Ship 1 name:</label>
          <input name="pirate[ships][][name]" type="text" id="ship_name_1">
        </div>
        <div>
          <label for="ship_type_1">Ship 1 type:</label>
          <input name="pirate[ships][][type]" type="text" id="ship_type_1">
        </div>
        <div>
          <label for="ship_booty_1">Ship 1 booty:</label>
          <input name="pirate[ships][][booty]" type="text" id="ship_booty_1">
        </div>
        <br>
        <h2>Second ship
          <div>
            <label for="ship_name_2">Ship 2 name:</label>
            <input name="pirate[ships][][name]" type="text" id="ship_name_2">
          </div>
          <div>
            <label for="ship_type_2">Ship 2 type:</label>
            <input name="pirate[ships][][type]" type="text" id="ship_type_2">
          </div>
          <div>
            <label for="ship_booty_2">Ship 2 booty:</label>
            <input name="pirate[ships][][booty]" type="text" id="ship_booty_2">
          </div>
        <input type="submit" id="Submit" name="submit">
      </form>

   </form>