<form action="/pirates" method="POST">

<label for= name>Name:</label>
<input type="text" name="pirate[name]" id="name">

<label for= name>Weight:</label>
<input type="text" name="pirate[weight]" id="weight">

<label for= name>Height:</label>
<input type="text" name="pirate[height]" id="height">


<div id="ship1">
<input type="text" name="pirate[ships][][name]" id="ship_name_1">
<input type="text" name="pirate[ships][][type]" id="ship_type_1">
<input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
</div>

<div id="ship2">
<input type="text" name="pirate[ships][][name]" id="ship_name_2">
<input type="text" name="pirate[ships][][type]" id="ship_type_2">
<input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
</div>

<input type="submit" value="submit" id="Submit">

</form>