<h1>Welcome to your Pirate Builder!</h1>
  

  <form method = "post" action = "/pirates">
  <h3> Enter your pirate info: </h3>
  <p></p>
  <label> Name </label>
  <input id = "pirate_name" type "text" name = "pirate[name]">
  <p></p>
  <label> Weight </label>
  <input id = "pirate_weight" type "text" name = "pirate[weight]">
  <p></p>
  <label> Height </label>
  <input id = "pirate_height" type "text" name = "pirate[height]">
  <p></p>
  <p></p>
  <h3> Enter Ship 1 info: </h3>
  <p></p>
  <label> Name </label>
  <input id = "ship_name_1" type "text" name = "pirate[ships][][name]">
  <p></p>
  <label> Type </label>
  <input id = "ship_type_1" type "text" name = "pirate[ships][][type]">
  <p></p>
  <label> Booty </label>
  <input id = "ship_booty_1" type "text" name = "pirate[ships][][booty]">
  <p></p>
  <p></p>
  <h3> Enter Ship 2 info: </h3>
  <p></p>
  <label> Name </label>
  <input id = "ship_name_2" type "text" name = "pirate[ships][][name]">
  <p></p>
  <label> Type </label>
  <input id = "ship_type_2" type "text" name = "pirate[ships][][type]">
  <p></p>
  <label> Booty </label>
  <input id = "ship_booty_2" type "text" name = "pirate[ships][][booty]">
  <p></p>
  <input type = "submit" value = "Submit" >
 
  </form>